<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .vim-help {
            width: 40%;
        }

        .section-double {
            color: salmon;
        }

        .section-single {
            color: grey;
        }

        .vim-option {
            color: teal;
        }

        .tag-name {
            color: brown;
        }

        .tag-link {
            color: blue-grey;
        }

        .header {
            color: navy;
        }

        .headline {
            font-size: 16px;
            color: darkblue;
        }

        .special {
            color: red;
        }

        .special-key {
            color: orange;
        }

        .code {
            background-color: #eee;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>

